<div class="row justify-content-center">
  <div>
    <div class="panel panel-primary ">
      <div class="panel-heading">
        <h2 class="panel-title">602115004</h2>
      </div>
      <div class="panel-body row">
        <div class="col-md-4">
          <p class="student-name">Jiratchaya Saopangkam</p>
          </div>
        <div class="col-md-4">
          <p>Sleepless</p>
        </div>
      </div>
    </div>
</div>
</div>
